html,body {
  background-color:black;
  padding-top:50px;
}

.clock {
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  border-radius: 20px;
  margin: 50px;
}


.btn-default, .btn-defaultW, .btn-defaultP {
  background-color: black;
  font-weight:bold;
  color:white;
  width:70px;
  font-family:Audiowide, sans-serif;
  border-radius: 0px;
  text-align: center;
  font-size: 18px;
  margin: 4px 4px;
  cursor: pointer;
}

p,h1 {
  font-family:Audiowide, sans-serif;
   color: lime;
}

.footer {
  color:gray;
  font-size:14px;
}
